apiVersion: apps/v1
kind: Deployment
metadata:
  name: resumelo
  namespace: resumelo-dev
spec:
  template:
    spec:
      nodeSelector:
        kubernetes.io/arch: amd64
      containers:
        - name: resumelo
          image: "registry.yesidlopez.de/resumelo-dev:v20260210.151251.4b26dc5" # {"$imagepolicy": "resumelo-dev:resumelo-dev"} 
